@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

#rod{
  animation: barloader;
animation-duration: 3s;}
@keyframes barloader {
  0%{
    width: 38% ;
  }
  100%{
    width: 0%;
  }
}